[submodule "python/database"]
	path = python/database
	url = https://github.com/losowski/psycopg2_xml_config
[submodule "python/feeds/ystockquote"]
	path = python/feeds/ystockquote
	url = git://github.com/cgoldberg/ystockquote.git
