[submodule "python/database"]
	path = pythonOLD/database
	url = ssh://localhost/home/eugene/git/database_repo
[submodule "python/feeds/ystockquote"]
	path = python/feeds/ystockquote
	url = git://github.com/cgoldberg/ystockquote.git
